@mixin flex-r-cc {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-r-lc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-c-lc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@mixin flex-c-cc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin transition($prop: all, $time: 0.3s) {
  transition: $prop $time ease;
}

@mixin img-replacement($image,$height) {
  display: flex;
  text-indent: -9999px;
  overflow: hidden;

  background: {
    image: $image;
    repeat: no-repeat;
    size: cover;
  }

  width: 100%;
  height: $height;
}