// Paleta de cores
$c-white: #FFFFFF;
$c-black-1: #000000;
$c-black-2: #04031C;
$c-purple: #4247A2;
$c-green-1: #52B095;
$c-green-2: #33CC73;
$c-green-3: #D4EDDA;
$c-green-4: #244A2D;
$c-blue-1: #1173D4;
$c-blue-2: #CFE2F3;
$c-blue-3: #2769A3;
$c-pink-1: #FDEFEF;
$c-pink-2: #F9D5E5;
$c-pink-3: #AD346A;
$c-yellow-1: #FFE9C2;
$c-yellow-2: #976C00;


// Tipografia
$font-1: "Inter", sans-serif;
$font-2: "Roboto", sans-serif;
$font-2: "Poppins", sans-serif;